*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg,gray,white);
    font-family: 'Courier New', Courier, monospace;
}
/* INDEX STYLE */
.header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: gray;
    border-bottom: 1px solid black;
}
.title{
    padding: 20px;
    text-align: center;
}
.imgbody{
    display: flex;
    justify-content: center;
}
.img{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    transition: transform .3s;
}
.img:hover{
    transform: scale(1.3);
}
.index{
    padding: 20px;
    height: 130px;
}
.button{
    display: flex;
    justify-content: center;
}
.daftar, .lihat{
    width: 120px;
    height: 30px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 20px;
    transition: background-color .3s;
    cursor: pointer;
}
.daftar:hover,
.lihat:hover{
    background-color: yellow;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.footer{
    border-top: 1px solid black;
    height: 50px;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
p{
    font-weight: bold;
    font-size: 15px;
}
h6{
    text-align: center;
}
/* INDEX STYLE */

/* POST STYLE */
h4{
    margin-left: 20px;
}
hr.hr{
    height: 1px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
}
.small-container{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 400px;
    height: 260px;
    border-radius: 10px;
    background-color: #fff;
    overflow: auto;
}
.input{
    height: 30px;
    width: 300px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 5px;
    font-weight: bold;
}
.input:focus{
    outline: none;
}
.radio{
    display: inline;
}
select{
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 5px;
}
select:focus{
    outline: none;
}
.submit{
    width: 120px;
    height: 30px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
    transition: background-color .3s;
    cursor: pointer;
}
.submit:hover{
    background-color: yellow;
}
.post{
    padding: 20px;
    height: 300px;
}
.fselect{
    color: rgba(0,0,0,0.7);
}
/* POST STYLE */

/* GET STYLE */
.table{
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 250px;
}
table{
    height: 100px;
}
table, th{
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}
th{
    background: #2784C5;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}
table tr:nth-child(even) td{
    background: #dcdcdc;
}
table tr{
    background: white;
}
table, td{
    padding: 5px;
    text-align: center;
}
table, th, tr, td{
    /* border: 1px solid white;
    border-collapse: collapse; */
    font-size: 15px;
}
.kiri{
    text-align: left;
}
.get{
    padding: 20px;
    height: 300px;
}
/* GET STYLE */

@media screen and (max-width: 420px) {
    .header{
        height: 150px;
    }
    .body-container{
        height: 476px;
    }
    .post{
        height: 375px;
    }
    .small-container{
        width: 350px;
    }
    .table{
        overflow-x: scroll;
    }
}